* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: currentColor;
}

li{
    list-style: none;
}

html {
    font-size: 10px;
    background-color: #ffffff;
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans';
    color: #222;
    //background: #F0F0F0;
}

.flex{
    display: flex;
    justify-content: space-around;
}

